game/.settings/org.eclipse.core.resources.prefs
game/.actionScriptProperties
game/.project
game/bin-debug/TheWar.swf
resource/Untitled-1.fla
resource/Untitled-1.swf
game/src/TheWar-app.xml
game/src/TheWar-app.xml
resource/starling/starling_map_europe.fla
resource/starling/starling_library.swf
resource/starling/starling_map_europe.fla
game/bin-debug/TheWar.apk
game/bin-debug/data/films.txt
game/src/TheWar-app.xml
resource/starling/starling_map_europe.fla